In [2]:
# Q1. List any five functions of the pandas library with execution.\
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

pd.isna(df)
pd.isna(df).sum()
pd.read_csv()
pd.concat()
df.dscribe()

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'

In [4]:
# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index theDataFrame with a new index that starts from 1 and increments by 2 for each row.
dict1={0:"A",1:"b",2:"c"}
dict1
c=pd.DataFrame(dict1,index=[0,1,2])
v=[1,2,3]
c['new_index']=v
c.set_index('new_index')

           0  1  2
new_index
1          A  b  c
2          A  b  c
3          A  b  c

In [5]:
# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. Thefunction should print the sum to the console.For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function shouldcalculate and print the sum of the first three values, which is 60.
l1=[2,3,4,5,6,7]
dict1={"Values" : l1}
df=pd.DataFrame(dict1)
s=df["Values"][:3]
s.sum()

9

In [6]:
#Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column'Word_Count' that contains the number of words in each row of the 'Text' column.
def pan():
    dict1={"text":["sajil","hetmtyer"]}
    df=pd.DataFrame(dict1)
    df['word_count']=df["text"].apply(lambda x : len(str(x)))
    print(df)
pan()

       text  word_count
0     sajil           5
1  hetmtyer           8

In [13]:
# Q5. How are DataFrame.size() and DataFrame.shape() different?
df.size # pandas size function are used to determine size of dataframe

df.shape # pandas shape functionb are used to determine shape of data frame

(6, 1)

In [14]:
# Q6. Which function of pandas do we use to read an excel file?
pd.read_excel

<function pandas.io.excel._base.read_excel(io, sheet_name: 'str | int | list[IntStrT] | None' = 0, *, header: 'int | Sequence[int] | None' = 0, names: 'SequenceNotStr[Hashable] | range | None' = None, index_col: 'int | str | Sequence[int] | None' = None, usecols: 'int | str | Sequence[int] | Sequence[str] | Callable[[str], bool] | None' = None, dtype: 'DtypeArg | None' = None, engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb', 'calamine'] | None" = None, converters: 'dict[str, Callable] | dict[int, Callable] | None' = None, true_values: 'Iterable[Hashable] | None' = None, false_values: 'Iterable[Hashable] | None' = None, skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, parse_dates: 'list | dict | bool' = False, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'dict[Hashable, str] | str | None' = None, thousands: 'str | None' = None, decimal: 'str' = '.', comment: 'str | None' = None, skipfooter: 'int' = 0, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>, engine_kwargs: 'dict | None' = None) -> 'DataFrame | dict[IntStrT, DataFrame]'>

In [31]:
# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains emailaddresses in the format 'username@domain.com'. Write a Python function that creates a new column'Username' in df that contains only the username part of each email address
dict2={'email':["sahil@domain.com","majil@gmail.com","tod@domail.com"]}
def email(df):
    df['Username']=df['email'].apply(lambda x : x.split("@")[0])
    print(df)
email(pd.DataFrame(dict2))

              email Username
0  sahil@domain.com    sahil
1   majil@gmail.com    majil
2    tod@domail.com      tod

In [83]:
#  Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

def fl(df):
    dff=df[(df["a"]>5) & (df["b"]<10)]
    return dff
dict3={"a": (8,9,10,1),"b":(2,1,10,1),"c":(7,2,10,1)}
fl(pd.DataFrame(dict3))

   a  b  c
0  8  2  7
1  9  1  2

In [7]:
#Q9 Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,median, and standard deviation of the values in the 'Values' column.
def v(df):
    return df.describe()
dict1={"Values":(1,2,3,4,5)}
v(pd.DataFrame(dict1))

         Values
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000

In [41]:
#10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function tocreate a new column 'MovingAverage' that contains the moving average of the sales for the past 7 daysfor each row in the DataFrame. The moving average should be calculated using a window of size 7 andshould include the current day.
dict4={"sales": [2,3,4,5,6,7,8],"Date": ["2023-2-2","2023-2-3","2023-2-4","2023-2-5","2023-2-6","2023-2-7","2023-2-8"]}

def d(df):
    df["Date"]=pd.to_datetime(df["Date"])
    df=df.sort_values("Date")
    df["average"]=df["sales"].rolling(window=7,min_periods=1).mean()
    return df
    
s=d(pd.DataFrame(dict4))
s

   sales       Date  average
0      2 2023-02-02      2.0
1      3 2023-02-03      2.5
2      4 2023-02-04      3.0
3      5 2023-02-05      3.5
4      6 2023-02-06      4.0
5      7 2023-02-07      4.5
6      8 2023-02-08      5.0

In [34]:
##Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a newcolumn 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.Monday, Tuesday) corresponding to each date in the 'Date' column.
from datetime import datetime  
import pandas as pd
dict5={"Date":["2023-2-2","2023-2-3","2023-2-4","2023-2-5","2023-2-6","2023-2-7","2023-2-8"]}
def wed(df): 
    df["weekday"]=pd.to_datetime(df["Date"]).dt.strftime("%A")
    return df
s=wed(pd.DataFrame(dict5))
s

       Date    weekday
0  2023-2-2   Thursday
1  2023-2-3     Friday
2  2023-2-4   Saturday
3  2023-2-5     Sunday
4  2023-2-6     Monday
5  2023-2-7    Tuesday
6  2023-2-8  Wednesday

In [58]:
#Q12 Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.
def t(df):
    df=pd.date_range(start="2023-01-01",end= "2023-01-31",freq="D")
    return df
s=t(pd.DataFrame(df))
s

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31'],
              dtype='datetime64[ns]', freq='D')

#Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs tobe imported?

To use the basic functions of pandas, the first and foremost necessary library to import is pandas itself. Typically, it is imported as:
import pandas as pd